@{
    Layout = "_Layout";
}
@using Salon.Models;
@model Salon.Models.Stylist;


<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">@Model.Name</h1>
        @Html.ActionLink("Update This Stylist","Update","Stylist", new {id = Model.StylistId}, new { @class = "button btn btn-info"})
        @Html.ActionLink("Delete This Stylist","Delete","Stylist", new {id = Model.StylistId}, new { @class = "button btn btn-danger"})
    </div>
        
</div>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Clients</h3>
        @if(@Model.Clients.Count == 0)
        {
            <h2><i>The Database contains no clients linked to this Stylist at this time.</i></h2>
        }
        else
        {
        <ul>
            @foreach(var join in Model.Clients)
            {
                <h2><li>@Html.ActionLink($"{join.Client.Name}, Id: {join.Client.ClientId}", "Details","Client", new { id = join.Client.ClientId}, new { @class ="index-list"})</li></h2>
            }
        </ul>
        }
    </div>
</div>